# SPDX-FileCopyrightText: 2019 Dimitris Kardarakos <dimkard@posteo.net>
#
# SPDX-License-Identifier: BSD-2-Clause
[Desktop Entry]
Name=Calindori
Name[ar]=كاليندوري
Name[ca]=Calindori
Name[ca@valencia]=Calindori
Name[cs]=Calindori
Name[de]=Calindori
Name[el]=Calindori
Name[en_GB]=Calindori
Name[eo]=Calindori
Name[es]=Calindori
Name[et]=Calindori
Name[eu]=Calindori
Name[fi]=Calindori
Name[fr]=Calindori
Name[gl]=Calindori
Name[he]=Calindori
Name[ia]=Calindori
Name[it]=Calindori
Name[ka]=Calindori
Name[ko]=Calindori
Name[nl]=Calindori
Name[nn]=Calindori
Name[pa]=ਕੈਲਿੰਡੋਰੀ
Name[pl]=Calindori
Name[pt]=Calindori
Name[pt_BR]=Calindori
Name[ru]=Calindori
Name[sk]=Calindori
Name[sl]=Calindori
Name[sv]=Calindori
Name[tr]=Yapraklı Takvim
Name[uk]=Calindori
Name[x-test]=xxCalindorixx
Name[zh_CN]=Calindori
Name[zh_TW]=Calindori
GenericName=Calendar
GenericName[ar]=التقويم
GenericName[ca]=Calendari
GenericName[ca@valencia]=Calendari
GenericName[cs]=Kalendář
GenericName[de]=Kalender
GenericName[el]=Ηερολόγιο
GenericName[en_GB]=Calendar
GenericName[eo]=Kalendaro
GenericName[es]=Calendario
GenericName[eu]=Egutegia
GenericName[fi]=Kalenteri
GenericName[fr]=Agenda
GenericName[gl]=Calendario
GenericName[he]=לוח שנה
GenericName[ia]=Calendario
GenericName[it]=Calendario
GenericName[ka]=კალენდარი
GenericName[ko]=캘린더
GenericName[nl]=Agenda
GenericName[nn]=Kalender
GenericName[pa]=ਕੈਲੰਡਰ
GenericName[pl]=Kalendarz
GenericName[pt]=Calendário
GenericName[pt_BR]=Calendário
GenericName[ru]=Календарь
GenericName[sk]=Kalendár
GenericName[sl]=Koledar
GenericName[sv]=Kalender
GenericName[tr]=Takvim
GenericName[uk]=Календар
GenericName[x-test]=xxCalendarxx
GenericName[zh_CN]=日历
GenericName[zh_TW]=行事曆
Comment=Organize events and tasks
Comment[ar]=تنظيم الأحداث والمهام
Comment[ca]=Organitza els esdeveniments i les tasques
Comment[ca@valencia]=Organitza els esdeveniments i les tasques
Comment[cs]=Organizujte události a úkoly
Comment[de]=Organisation von Terminen und Aufgaben
Comment[el]=Οργάνωση γεγονότων και εργασιών
Comment[en_GB]=Organise events and tasks
Comment[eo]=Organizi eventojn kaj taskojn
Comment[es]=Organizar eventos y tareas
Comment[eu]=Antolatu ekitaldiak eta zereginak
Comment[fi]=Hallitse tapahtumia ja tehtäviä
Comment[fr]=Organiser des évènements et des tâches
Comment[gl]=Organice eventos e tarefas.
Comment[he]=סידור אירועים ומשימות
Comment[ia]=Organisa eventos e cargas
Comment[it]=Organizza eventi e attività
Comment[ka]=დაალაგეთ მოვლენები და ამოცანები
Comment[ko]=이벤트와 작업 관리
Comment[nl]=Gebeurtenissen en taken organiseren
Comment[nn]=Organiser hendingar og oppgåver
Comment[pa]=ਸਮਾਗਮਾਂ ਤੇ ਕੰਮਾਂ ਦਾ ਇੰਤਜ਼ਾਮ ਕਰੋ
Comment[pl]=Organizuj wydarzenia i zadania
Comment[pt]=Organizar eventos e tarefas
Comment[pt_BR]=Organize eventos e tarefas
Comment[ru]=Организация событий и задач
Comment[sl]=Organiziraj dogodke in naloge
Comment[sv]=Organisera händelser och uppgifter
Comment[tr]=Etkinlikleri ve görevleri düzenleyin
Comment[uk]=Упорядкування записів подій і завдань
Comment[x-test]=xxOrganize events and tasksxx
Comment[zh_CN]=组织活动和任务
Comment[zh_TW]=管理事件和工作
Keywords=Calendar;Event;Reminder;
Keywords[ar]=التقويم;أحداث;التذكير;
Keywords[ca]=Calendari;Esdeveniment;Recordatori;
Keywords[ca@valencia]=Calendari;Esdeveniment;Recordatori;
Keywords[cs]=Kalendář;Událost;Upomínka;
Keywords[eo]=Kalendaro;Event;Memorigilo;
Keywords[es]=Calendario;Evento;Recordatorio;
Keywords[eu]=Egutegia;Ekitaldia;Oroigarria;
Keywords[fi]=Kalenteri;Tapahtuma;Muistutus;
Keywords[fr]=Agenda ; évènement ; rappel ;
Keywords[gl]=calendario;almanaque;evento;acontecemento;suceso;recordatorio;lembranza;
Keywords[he]=לוח שנה;אירוע;תזכורת;
Keywords[ia]=Calendario;Evento;Memento;
Keywords[it]=Calendario;Evento;Promemoria;
Keywords[ka]=Calendar;Event;Reminder;კალენდარი;მოვლენა;შემხსენებელი;
Keywords[ko]=Calendar;Event;Reminder;캘린더;달력;이벤트;행사;알림;미리 알림;리마인더;
Keywords[nl]=Agenda;Gebeurtenis;Herinnering;
Keywords[pl]=Kalendarz;Wydarzenie;Przypomnienie;
Keywords[pt_BR]=calendário;evento;lembrete;
Keywords[sl]=Koledar;Dogodek;Opomnik;
Keywords[sv]=Kalender;Händelse;Påminnelse;
Keywords[tr]=Takvim;Etkinlik;Anımsatıcı;Hatırlatıcı;
Keywords[uk]=Calendar;Event;Reminder;Календар;Подія;Нагадування;
Keywords[x-test]=xxCalendarxx;xxEventxx;xxReminderxx;
Keywords[zh_CN]=Calendar;Event;Reminder;日历;事件;提醒;rili;shijian;tixing;
Keywords[zh_TW]=Calendar;Event;Reminder;行事曆;提醒;
Exec=calindori %f
Icon=calindori
Type=Application
Terminal=false
Categories=Qt;KDE;Office;
MimeType=text/calendar
X-KDE-FormFactor=desktop;tablet;handset;
