[Desktop Entry]
Name=Calindori
Comment=Calindori
Exec=calindori
MimeType=application/x-calindori;
Icon=calindori
Type=Application
Terminal=false
Categories=Qt;KDE;Office;
